body{
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  font-family: 'Rubik','Raleway',sans-serif;
  background: #06080F;
}

main{
  flex-grow: 1; 
}

.containerConteo{
  width: 15rem;
  height: 15rem;
  border: 15px solid red;
}

.containerTemporizador{
  width: 100%;
  min-width: 6.25rem;
}

.bgSelect{
  background-color: #0E1729;
  color: #fff;
}

.containerButtons{
  width: 100%;
}

.containerButtons .btnIniciar{
  width: 99%;
  background-color: #3ab9f0;
  padding: 10px 0px;
}

.containerButtons .btnIniciar:hover{
  background-color: #2FA4D8;
}

.containerButtons .btnPausar{
  width: 45%;
  background-color: #f8c453;
  padding: 10px 0px;
}

.containerButtons .btnPausar:hover{
  background-color: #D4A644;
}

.containerButtons .btnContinuar{
  width: 45%;
  background-color: #2ccab8;
  padding: 10px 0px;
}

.containerButtons .btnContinuar:hover{
  background-color: #26B8A6;
}

.containerButtons .btnRestablecer{
  width: 45%;
  background-color: #e65168;
  padding: 10px 0px;
}

.containerButtons .btnRestablecer:hover{
  background-color: #cf475c;
}

footer{
  border-top: .1px solid #525151;
}

/*sobre mi*/
.imageProfile{
  width: 425px;
  height: 425px;
  transition: .7s;
}

.imageProfile:hover{
  width: 500px;
  height: 500px;
  transition: .7s;
}

a .github{
  font-size: 40px;
  color: #acadb3;
  transition: 1s;
}

a .linkedIn{
  font-size: 40px;
  transition: 1s;
}

a:hover{
  transform: scale(1.1);
  transition: 0.7s;
}

@media all and (min-width:576px){
  .containerConteo{
    width: 25rem;
    height: 25rem;
  }

  .containerTemporizador{
    width: 75%;
  }
}

@media all and (min-width:768px){
  .containerTemporizador{
    width: 60%;
  }
}